name: CI

on: [push, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install cocotb
        run: pip install cocotb cocotb-test

      - name: Run cocotb tests
        run: |
          cd test
          python -m cocotb_test -m test_multiplier

      - name: Test Summary
        uses: test-summary/action@v2.3
        with:
          paths: "test/results.xml"
        if: always()
